@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('./fonts/SourceHanSansCN-Bold.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('./fonts/SourceHanSansCN-Medium.otf');
}

@font-face {
  font-family: 'SourceHanSansCN-Heavy';
  src: url('./fonts/SourceHanSansCN-Heavy.otf');
}

@font-face {
  font-family: 'Alibaba_PuHuiTi_Regular_85_Bold';
  src: url('./fonts/Alibaba_PuHuiTi_2.0_55_Regular_85_Bold.ttf');
}

@font-face {
  font-family: 'Alibaba_PuHuiTi_Regular_105_Heavy';
  src: url('./fonts/Alibaba_PuHuiTi_2.0_105_Heavy_105_Heavy.ttf');
}

@font-face {
  font-family: 'consolas';
  src: url('./fonts/consolas.TTF');
}
